[submodule "MessagingAppFramework"]
	path = MessagingAppFramework
	url = https://github.com/sepcon/MessagingAppFramework.git
[submodule "gears-service"]
	path = gears-service
	url = https://github.com/thanglie1/gears-service.git
[submodule "qtdemo"]
	path = qtdemo
	url = https://github.com/thanglie1/qtdemo.git
[submodule "ui-free-tool"]
	path = ui-free-tool
	url = https://github.com/thanglie1/ui-free-tool.git
